/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background-color: #f1f1f1;
}

/* Navbar styles */
.navbar {
  background-color: #171770;
  padding: 10px 0;
  font-family: 'Ubuntu', sans-serif;
}

.navbar .logo img {
  width: 60px;
  height: 60px;
  border-radius: 15%;
  overflow: hidden;
  margin-top: -10px;
}

.navbar .menu li {
  display: inline-block;
  margin-left: 30px;
}

.navbar .menu li a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: #c30ce7;
}

/* Home section styles */
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  color: #fff;
  background-size: cover;
  background-attachment: scroll;
}

.home h1 {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 20px;
}

.home h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}

.home h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.home p {
  font-size: 18px;
  margin-bottom: 30px;
}

.home button {
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #c30ce7;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home button:hover {
  background-color: #9a05a3;
}

/* Footer styles */
.footer {
  background-color: #24262b;
  color: #fff;
  padding: 50px 0;
  text-align: center;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 25px;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 40px;
  height: 2px;
  background-color: #e91e63;
  transform: translateX(-50%);
}

.footer-col ul li {
  margin-bottom: 15px;
}

.footer-col ul li a {
  color: #bbb;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  transition: color 0.3s ease;
}

.footer-col ul li a:hover {
  color: #fff;
}

/* Media Query for responsiveness */
@media (max-width: 768px) {
  .navbar .menu {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #111;
    text-align: center;
  }

  .navbar .menu.active {
    display: block;
  }

  .navbar .menu li {
    display: block;
    margin: 20px 0;
  }

  .navbar .menu li a {
    font-size: 22px;
  }

  .home h1 {
    font-size: 36px;
  }

  .home h2 {
    font-size: 28px;
  }

  .home h3 {
    font-size: 20px;
  }

  .home p {
    font-size: 16px;
  }

  .home button {
    font-size: 16px;
  }

  .footer-col {
    width: 50%;
  }
}
